static/newcssstyle/style.css
body {
    background-color: #f4f4f4;
    color: #222;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

body {
    background-color: #f5f6fa;
}


.sidebar {
    background-color: #1e1e2f !important;
}


.navbar {
    background-color: #800000 !important;
}


.card-stats .card {
    background-color: #ffffff !important;
    border-radius: 10px;
}
